.footer{
    background-color: #7fba31;
    padding: 20px 0;
    &__topbar{
        display: flex;
        justify-content: space-between;
        // align-items: center;
        flex-wrap: wrap;
    }
    &__topbar ul{
        width: 300px;
    }
    &__topbar p , &__topbar a , &__topbar h2{
        color: white;
    }
    &__topbar a{
        margin-top: 20px;
        display: flex;
    }
    &__topbar p{
        line-height: 20px;
    }
}